<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">
    <title>News</title>
  </head>
  <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Local Newspaper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Look for news of a different location (Click here) <span class="sr-only">(current)</span></a>
            </div>
        </div>
        </nav>

    <div class="container mt-5">
        <div class = "row">
            <div class = "col-lg-12 mt-3 mb-3">
                <h2> Current Weather </h2> 
                    <% forecast = ForecastIO.forecast(@lat, @lng).to_hash %>
                    <% current_summary = forecast["currently"]["summary"]%>
                    <% current_temperature = forecast["currently"]["temperature"]%>
                    <% chances_of_rain = forecast["currently"]["precipProbability"]%>
                <div class = "table-responsive">
                    <table class = "table table-bordered">
                        <thead class = "table-header">
                            <tr>
                                <th scope = "col"> Weather Description </th>
                                <th scope = "col"> Temperature (Fahrenheit) </th>
                                <th scope = "col"> Chance of Rain </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr> 
                                <td class = "weather_details"> <%=current_summary %> </td>
                                <td class = "weather_details"> <%=current_temperature %> </td>
                                <td class = "weather_details"> <%=chances_of_rain%> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-lg-12 mt-3 mb-3">
                <h2> Extended Forecast </h2>
                <div class = "table-responsive">
                    <table class = "table table-bordered">
                        <thead class = "table-header">
                            <tr>
                                <th scope = "col"> +# days </th>
                                <th scope = "col"> Weather Description </th>
                                <th scope = "col"> Temperature (Fahrenheit) </th>
                                <th scope = "col"> Chance of Rain </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% count = 0 %>
                            <% extended_forecast = forecast["daily"]["data"] %>
                            <% for weather in extended_forecast %>
                                <% count = count + 1 %>
                                <tr>
                                    <td class = "weather details"> <%= count %> </td>
                                    <td class = "weather details"> <%= weather["summary"] %> </td>
                                    <td class = "weather details"> <%= weather["temperatureHigh"] %> </td>
                                    <td class = "weather details"> <%= weather["precipProbability"] %> </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <hr class ="my-4">
    
        <div class = "row">
            <div class = "col-lg-12 mt-3 mb-3">
             <h2> National Headlines </h2>
            </div> 
        </div>
        <div class = "row">
            <div class = "col-lg-12 mt-3 mb-3">
                <% news = HTTParty.get(@url).parsed_response.to_hash %>
                <div class = "table-responsive">
                    <table class = "table table-bordered">
                        <thead class = "table-header">
                            <tr>
                                <th scope = "col"> Headline </th>
                                <th scope = "col"> Link  </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% all_articles = news["articles"] %>
                            <% for each_article in all_articles %>
                                <tr>
                                    <td class = "news_details">  <%= each_article["title"] %> </td>
                                    <td class = "news_details"> <%= each_article["url"] %> </td>
                                </tr>
                            <%end%> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
  
</html>